.buttons {
  display: flex;
  justify-content: center; }

.button {
  padding: 10px;
  margin-right: 20px;
  text-align: center; }
  .button.active {
    background: red; }
  .button:last-of-type {
    margin-right: 0; }

:focus {
  outline: 0; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "''"; }

blockquote, q {
  quotes: "" ""; }

blockquote p, q p {
  margin-bottom: 0 !important; }

*, :after, :before {
  box-sizing: border-box; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.f_left {
  float: left; }

.f_right {
  float: right; }

#page-body {
  padding-top: 0; }

.overlay {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.socials-link .fa {
  -webkit-transition: 0.3s color;
  -moz-transition: 0.3s color;
  -o-transition: 0.3s color;
  transition: 0.3s color;
  color: #696969; }

.socials-link.facebook-link:hover .fa {
  color: #4469AF; }

.socials-link.twitter-link:hover .fa {
  color: #2AA2EF; }

.socials-link.linked-link:hover .fa {
  color: #1178B2; }

.three-row {
  display: flex;
  flex-wrap: wrap; }
  .three-row .three-row__element {
    width: 31.333333%;
    margin-right: 3%; }
    .three-row .three-row__element:nth-of-type(3n) {
      margin-right: 0; }
    .three-row .three-row__element:nth-last-child(-n+3) {
      margin-bottom: 0; }

.top-section {
  position: relative; }
  .top-section .top-section__content {
    text-align: center;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute; }
    .top-section .top-section__content .buttons {
      margin-top: 50px; }

.text-section {
  background: red;
  text-align: center;
  padding: 40px 60px 30px;
  margin-bottom: 45px; }
  .text-section .buttons {
    margin-top: 20px; }
    .text-section .buttons .button {
      background: purple; }

.box-section {
  padding: 0 60px;
  margin-bottom: 55px; }
  .box-section .title {
    text-align: center;
    margin-bottom: 35px; }
  .box-section .boxes .boxes__box {
    margin-bottom: 50px;
    position: relative; }
    .box-section .boxes .boxes__box:hover {
      cursor: pointer; }
      .box-section .boxes .boxes__box:hover .boxes__title {
        opacity: 0; }
      .box-section .boxes .boxes__box:hover .hover-effect {
        max-height: 100%; }
    .box-section .boxes .boxes__box .hover-effect {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      max-height: 0;
      -webkit-transition: 0.3s max-height;
      -moz-transition: 0.3s max-height;
      -o-transition: 0.3s max-height;
      transition: 0.3s max-height;
      overflow: hidden; }
      .box-section .boxes .boxes__box .hover-effect .buttons {
        position: absolute;
        bottom: 20px;
        width: 100%; }
        .box-section .boxes .boxes__box .hover-effect .buttons .button {
          border: 1px solid #fff;
          color: #fff;
          opacity: .8;
          -webkit-transition: 0.3s opacity;
          -moz-transition: 0.3s opacity;
          -o-transition: 0.3s opacity;
          transition: 0.3s opacity; }
          .box-section .boxes .boxes__box .hover-effect .buttons .button:hover {
            opacity: 1; }
    .box-section .boxes .boxes__box .boxes__title {
      opacity: 1;
      position: absolute;
      bottom: -30px;
      left: 0;
      -webkit-transition: 0.3s opacity;
      -moz-transition: 0.3s opacity;
      -o-transition: 0.3s opacity;
      transition: 0.3s opacity; }
    .box-section .boxes .boxes__box img {
      width: 100%; }

.quote-section {
  max-height: 180px;
  height: 100%;
  overflow: hidden;
  display: block;
  position: relative; }
  .quote-section .quote-section__content {
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    width: 100%;
    padding: 0 180px; }
    .quote-section .quote-section__content .title {
      text-align: center; }
    .quote-section .quote-section__content .subtitle {
      text-align: right; }

.team-section {
  padding: 45px 0; }
  .team-section .title {
    text-align: center;
    margin-bottom: 50px; }
  .team-section .team {
    padding: 0 105px; }
  .team-section .team-member {
    margin-bottom: 30px; }
    .team-section .team-member img {
      display: block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin: 0 auto 15px; }
    .team-section .team-member .team-member__content {
      max-width: 200px;
      width: 100%;
      margin: 0 auto;
      display: flex; }
      .team-section .team-member .team-member__content .team-member__who .name {
        margin-bottom: 10px; }
      .team-section .team-member .team-member__content .team-member__who .position, .team-section .team-member .team-member__content .team-member__who .name {
        line-height: 1; }
      .team-section .team-member .team-member__content .team-member__links {
        margin-left: auto;
        align-self: center; }
        .team-section .team-member .team-member__content .team-member__links .fa {
          font-size: 20px; }

.timeline {
  padding: 40px 0 25px; }
  .timeline .title {
    text-align: center;
    margin-bottom: 15px; }

.announce {
  padding: 35px 0 50px; }
  .announce .title {
    text-align: center;
    margin-bottom: 30px; }
  .announce .blocks {
    display: flex;
    padding: 0 50px; }
    .announce .blocks .blocks__block {
      text-align: center;
      margin-right: 30px; }
      .announce .blocks .blocks__block:last-of-type {
        margin-right: 0; }
      .announce .blocks .blocks__block .blocks__title {
        display: inline-block; }

.pre-sale {
  position: relative; }
  .pre-sale .main-image {
    position: absolute;
    left: 0;
    top: 0; }
  .pre-sale .pre-sale__content {
    position: relative;
    display: flex;
    padding: 50px 150px; }
    .pre-sale .pre-sale__content .get-block {
      align-self: center; }
      .pre-sale .pre-sale__content .get-block img {
        min-width: 130px;
        border: 1px solid red;
        margin-bottom: 10px; }
      .pre-sale .pre-sale__content .get-block .button {
        border: 1px solid red; }
    .pre-sale .pre-sale__content .details {
      margin-left: 100px; }
      .pre-sale .pre-sale__content .details .progress {
        margin: 10px 0;
        max-width: 370px; }
        .pre-sale .pre-sale__content .details .progress .progress__content {
          display: flex; }
          .pre-sale .pre-sale__content .details .progress .progress__content .total-sold {
            margin-left: auto; }
        .pre-sale .pre-sale__content .details .progress svg {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          border: 1px solid #000; }
      .pre-sale .pre-sale__content .details p {
        margin: 0;
        color: #000;
        font-weight: 400; }
        .pre-sale .pre-sale__content .details p.additional {
          font-weight: 300;
          line-height: 1.1;
          font-size: 13px;
          margin-top: 10px; }
