@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1umdq2');
  src:  url('../fonts/icomoon.eot?1umdq2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1umdq2') format('truetype'),
    url('../fonts/icomoon.woff?1umdq2') format('woff'),
    url('../fonts/icomoon.svg?1umdq2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-contract:before {
  content: "\e904";
}
.icon-buying:before {
  content: "\e900";
} 
.icon-intro:before {
  content: "\e901";
}
.icon-whitepaper:before {
  content: "\e902";
}
.icon-fuss:before {
  content: "\e903";
}
.icon-limit:before {
  content: "\e9b8";
}
