/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-container .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-container .owl-animated-in {
  z-index: 0;
}
.owl-container .owl-animated-out {
  z-index: 1;
}
.owl-container .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-container {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-container .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-container .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-container .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-container .owl-nav .owl-prev,
.owl-container .owl-nav .owl-next,
.owl-container .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-container.owl-loaded {
  display: block;
}
.owl-container.owl-loading {
  opacity: 0;
  display: block;
}
.owl-container.owl-hidden {
  opacity: 0;
}
.owl-container .owl-refresh .owl-item {
  display: none;
}
.owl-container .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width:100%;
  }
.owl-container .owl-item img {
  display: block;
  /*width: 100%;*/
  max-width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-container.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-container .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-container.owl-rtl {
  direction: rtl;
}
.owl-container.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-container {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-container .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-container .owl-item img {
  transform-style: preserve-3d;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-container .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-container .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-container .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-container .owl-video-playing .owl-video-tn,
.owl-container .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-container .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-container .owl-video-frame {
  position: relative;
  z-index: 1;
}





/* 	NEXT / PREV
	------------------  */
.owl-nav.disabled { display: none; }
	
.owl-nav > div {
	position: absolute;
	top: 50%; margin-top: -20px;
	right: 0px;
	height: 40px;
	width: 0px;
	background: #1a1a1a;
	transition: all 0.3s ease;
	cursor: pointer;
	}
	.owl-nav > div:hover { padding: 0 5px; }
	.owl-container:hover .owl-nav > div { width: 40px; }

.owl-nav .owl-prev {
	right: inherit;
	left: 0px;
	}
	
.owl-nav .disabled {
  	opacity: 0;
  	cursor: default !important;
	}

.owl-nav .owl-next:after, .owl-nav .owl-prev:after {
	content: "\f125";
	font-family: "Ionicons";
	font-size: 10px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%; margin-top: -10px;
	left: 50%; margin-left: -10px;
	text-align: center;
	color: #ffffff;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	transition: opacity 0.3s ease;
	}
	.owl-nav .owl-prev:after {
	content: "\f124";
	}
	.owl-container:hover .owl-nav .owl-next:after, .owl-container:hover .owl-nav .owl-prev:after { 
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	transition: opacity 0.3s ease 0.2s;
	}
	

/* 	DOTS
	------------------  */
.owl-dots {
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%);
  	-moz-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
  	-o-transform: translateX(-50%);
  	transform: translateX(-50%);
	width: auto;
	height: auto;
	overflow:hidden;
	}
	.owl-container:not(.owl-slider) { margin-bottom: 30px; }
	.owl-container:not(.owl-slider) .owl-dots { bottom: -40px; }
	.owl-container.content-slider { margin-bottom: 30px; }
	.owl-container.content-slider .owl-dots { bottom: -40px; }
	.owl-container[data-dots=false] { margin-bottom: 0px; }
	
.owl-dots .owl-dot {
  	float: left;
  	margin: 0px 3px;
	padding: 3px;
	position: relative;
	cursor: pointer;
	}
	
.owl-dots .owl-dot span {
  	width: 7px;
  	height: 7px;
  	background: #000000;
  	display: block;
  	-webkit-backface-visibility: visible;
  	-webkit-border-radius: 30px;
  	-moz-border-radius: 30px;
  	border-radius: 30px;
	opacity: 0.4;
	filter: alpha(opacity=40);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	transition: opacity 0.2s ease, background 0.2s ease;
	}
	.nav-light .owl-dots .owl-dot span { background: #ffffff; }
	
.owl-dots .owl-dot span:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	border: 2px solid #000000;
  	border-radius: 30px;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	transition: opacity 0.2s ease;
	}
	.nav-light .owl-dots .owl-dot span:after { border-color: #ffffff; }
	
	.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
	opacity: 0.85;
	filter: alpha(opacity=85);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	}
	
	.owl-dots .owl-dot.active span {
  	background: transparent;
	}
	
	.owl-dots .owl-dot.active span:after {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	}